<!-- Login page -->
<div class="wrap">
  <div class="container">
    <div class="row box">
      <div class="col-md-4 logo_box">
        <div class="logo">
          <header>
            <section class="t">T</section>
            <section class="l">L</section>
            <section class="s">S</section>
          </header>
          <div class="text">
            <p class="head">Transformative</p>
            <p class="line">Your logistic, inventory and order just a click away</p>
          </div>
          <div class="button">
            <a target="_self" href="">Learn More</a>
          </div>
          <div class="icon">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-snapchat"></i>
          </div>
        </div>
      </div>
      <div class="col-md-8 form_box">
        <div class="form">
          <p>Sign in to Transformative.</p>
          <p class="small-text">Enter yours details below.</p>
          <div class="input">
            <p class="user">Username</p>
            <input type="text" class="form-control" placeholder="Enter Username" required>
            <p class="user pass">Password</p>
            <input type="password" class="form-control" placeholder="Enter Password">
            <input type="checkbox" class="check" value="Remember me"><p class="rem">Remember me</p>
            <p class="forget">Forget Username/Password</p>
            <div class="button1">
                <a target="_self" href="/sign">Sign In</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>