<!-- Side Navbar -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p>Transormative</p>
    <a href="#" class="fa fa-home">&nbsp;Home</a>
    <a href="#" class="fa fa-shopping-cart">&nbsp;Order</a>
    <a href="#" class="fa fa-houzz">&nbsp;Inventory</a>
    <a href="#" class="fa fa-industry">&nbsp;Vendors</a>
    <a href="#" class="fa fa-home">&nbsp;Warehouse</a>
  </div>
  
  <div id="main">
    <span style="font-size:18px;cursor:pointer" onclick="openNav()">&#9776; </span>
    <div class="box">
      <p>Home</p>
      <p class="cal">Today <i class="fa fa-calendar"></i></p>
      <div class="data">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-2 packed">
                  <p>Qty</p>
                  <section>250</section>
                  <i class="fa fa-industry"></i><br>
                  <p>To be</p>
                  <p class="be">Packed</p>
                </div>
                <div class="col-md-2 packed">
                    <p>Qty</p>
                    <section>250</section>
                    <i class="fa fa-plane"></i><br>
                    <p>To be</p>
                    <p class="be">Shipped</p>
                </div>
                <div class="col-md-2 packed">
                    <p>Qty</p>
                    <section>250</section>
                    <i class="fa fa-car"></i><br>
                    <p>To be</p>
                    <p class="be">Delivered</p>
                </div>
                <div class="col-md-2 packed">
                    <p>Qty</p>
                    <section>250</section>
                    <i class="fa fa-clipboard"></i><br>
                    <p>To be</p>
                    <p class="be">Invoiced</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="inven-box">
                <p class="black">Inventory Summary</p>
                <hr>
                <p class="det">Quantity in hand<span class="fig">430000qty</span></p>
                <hr>
                <p class="det">Quantity to be recieved<span class="fig">320000qty</span></p>
              </div>
            </div>
          </div>
          <!-- Graph Section -->
          <div class="row">
            <div class="col-md-7">
              <div class="graph-box">
                <p class="black">Number of Sales</p>
                <p class="cal">Today <i class="fa fa-calendar"></i></p>
                <i class="fa fa-area-chart" id="chart"></i>
              </div>
            </div>
            <div class="col-md-5">
                <div class="graph-box">
                <p class="black">Revenue</p>
                <p class="cal">Today <i class="fa fa-calendar"></i></p>
                <i class="fa fa-bar-chart" id="chart1"></i>
              </div>
            </div>
          </div>
          <!-- Details Section -->
          <div class="row">
            <div class="col-md-4 product">
                <div class="inven-box">
                    <p class="black">Product Details</p>
                    <hr>
                    <p class="det color">Low Stock Item<span class="fig">29</span></p>
                    <hr>
                    <p class="det">All Item Group<span class="fig rang">40</span></p>
                    <hr>
                    <p class="det">All Item<span class="fig rang">54</span></p>
                    <hr>
                    <p class="item">Active Item</p>
                    <hr>
                    <div class="contain">
                      <div class="skills bar">80%</div>
                    </div>
                  </div>
            </div>
            <div class="col-md-8">
                <div class="graph-box size">
                    <p class="black">Top Selling Item</p>
                    <p class="cal">Today <i class="fa fa-calendar"></i></p>
                </div>
                <div class="row">
                <div class="col-md-3 package">
                   <i class="fa fa-birthday-cake"></i>
                   <p class="demo">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-3 package">
                   <i class="fa fa-print"></i>
                   <p class="demo">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-3 package">
                   <i class="fa fa-laptop"></i>
                   <p class="demo">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-3 package">
                   <i class="fa fa-comment"></i>
                   <p class="demo">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  